*{margin: 0 ; padding: 0;}
.main{width: 100%; height: 100%;}

#bgimg{z-index: -1;position: absolute;}

#master{width: 100%;height: 70%;padding:160px 0 0 0;text-align: center;position: absolute;}

.mascs1{margin: 5px 0;}
.mascs2{margin: 20px 0 10px 0;text-align: center;}